h1{ 
    color: #121324;
    font-size: 30px;
    font-family:sans-serif;

}
body{
    background-color: blanchedalmond;
}

p1{
color: cadetblue;
background-color: #121324;
word-wrap: break-word;

}

